@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    height:100vh;
    box-sizing: border-box;
}

a{
    text-decoration: none;

}

.text p, a, .text button, .info .img{
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 5px 0 0 0;
    align-items: center;
    justify-content: space-around;
}

#logo{
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 5px 60px 0 60px;
    flex-grow: 1;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 450px;
    gap: 10px;
}

*{
    margin: 0;
    padding: 0;
}

.text h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.text button{
    background-color: #3882F6;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: none;
    border: none;
}

.core img{
    width: 360px;
    height: 163px;
}


.core{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.info {
    flex-grow: 1;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.wimg{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 170px;
    gap: 7px;
}

.img p{
    text-align: center;
    font-weight: normal;
}

.img img{
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

